In [25]:
import pandas as pd
import requests
import os

import env

In [4]:
original = pd.read_csv('Crime_Reports.csv')

In [5]:
original.shape

(2408514, 27)

In [12]:
url = 'https://data.austintexas.gov/resource/fdj4-gpfu.json'
headers = {'X-App-Token': env.app_token}

var = requests.get(url, headers = headers).json()
len(var)

#df = pd.DataFrame(var)
#df.shape

1000

In [23]:
csv = 'Crime_Reports.csv'

def get_crime_data(use_cache=True):
    '''This function returns the data from the Crime Reports csv. 
        
    '''
    if os.path.exists(csv) and use_cache:
        print('Using cached csv')
        return pd.read_csv(csv)
    print('Acquiring data from api')

    df = read_from_api()
    df.to_csv(csv)
    
    return df

def read_from_api():
    client = Socrata("data.austintexas.gov", None)
    results = client.get("fdj4-gpfu", limit=500000)
    results_df = pd.DataFrame.from_records(results)
    return results_df

In [20]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.austintexas.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.austintexas.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("fdj4-gpfu", limit=500000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,incident_report_number,crime_type,ucr_code,family_violence,occ_date_time,occ_date,occ_time,rep_date_time,rep_date,rep_time,...,y_coordinate,latitude,longitude,location,:@computed_region_a3it_2a2z,:@computed_region_8spj_utxs,:@computed_region_q9nd_rr82,:@computed_region_qwte_z96m,clearance_status,clearance_date
0,20221411560,AGG ASSAULT,402,N,2022-05-21T23:28:00.000,2022-05-21T00:00:00.000,2328,2022-05-21T23:28:00.000,2022-05-21T00:00:00.000,2328,...,3130738,30.27867944,-97.69047281,"{'latitude': '30.27867944', 'longitude': '-97....",2864,1,8,NaN,NaN,NaN
1,20221411686,FAMILY DISTURBANCE,3400,N,2022-05-21T23:25:00.000,2022-05-21T00:00:00.000,2325,2022-05-21T23:25:00.000,2022-05-21T00:00:00.000,2325,...,3135376,30.37919393,-97.67300529,"{'latitude': '30.37919393', 'longitude': '-97....",3642,1,8,NaN,NaN,NaN
2,20221411618,DATING DISTURBANCE,2400,N,2022-05-21T23:17:00.000,2022-05-21T00:00:00.000,2317,2022-05-21T23:17:00.000,2022-05-21T00:00:00.000,2317,...,3107646,30.26438022,-97.76402921,"{'latitude': '30.26438022', 'longitude': '-97....",2859,5,1,1426,NaN,NaN
3,20221411720,PUBLIC INTOXICATION,2300,N,2022-05-21T23:07:00.000,2022-05-21T00:00:00.000,2307,2022-05-21T23:07:00.000,2022-05-21T00:00:00.000,2307,...,3112676,30.27458791,-97.74781883,"{'latitude': '30.27458791', 'longitude': '-97....",2856,9,10,NaN,C,2022-05-22T00:00:00.000
4,20221410653,CIVIL DISTURBANCE/DEMO,3402,N,2022-05-21T23:04:00.000,2022-05-21T00:00:00.000,2304,2022-05-21T23:04:00.000,2022-05-21T00:00:00.000,2304,...,3120273,30.23468195,-97.72482422,"{'latitude': '30.23468195', 'longitude': '-97....",3256,3,3,102,NaN,NaN

In [21]:
results_df.tail()

,incident_report_number,crime_type,ucr_code,family_violence,occ_date_time,occ_date,occ_time,rep_date_time,rep_date,rep_time,...,y_coordinate,latitude,longitude,location,:@computed_region_a3it_2a2z,:@computed_region_8spj_utxs,:@computed_region_q9nd_rr82,:@computed_region_qwte_z96m,clearance_status,clearance_date
499995,20178001863,THEFT OF BICYCLE,609,N,2017-05-20T06:30:00.000,2017-05-20T00:00:00.000,630,2017-05-25T11:03:00.000,2017-05-25T00:00:00.000,1103,...,3114965,30.28064558,-97.74040289,"{'latitude': '30.28064558', 'longitude': '-97....",2856,9,10,NaN,N,2017-05-29T00:00:00.000
499996,20171400429,DISTURBANCE - OTHER,3401,N,2017-05-20T06:27:00.000,2017-05-20T00:00:00.000,627,2017-05-20T06:27:00.000,2017-05-20T00:00:00.000,627,...,3102180,30.22671213,-97.78234287,"{'latitude': '30.22671213', 'longitude': '-97....",3259,5,1,2244,NaN,NaN
499997,20171400425,AGG ROBBERY/DEADLY WEAPON,300,N,2017-05-20T06:21:00.000,2017-05-20T00:00:00.000,621,2017-05-20T06:21:00.000,2017-05-20T00:00:00.000,621,...,3091234,30.20834235,-97.81748876,"{'latitude': '30.20834235', 'longitude': '-97....",3259,5,1,3447,C,2019-03-22T00:00:00.000
499998,20171400320,PUBLIC INTOXICATION,2300,N,2017-05-20T06:18:00.000,2017-05-20T00:00:00.000,618,2017-05-20T06:18:00.000,2017-05-20T00:00:00.000,618,...,3113092,30.27316491,-97.74653877,"{'latitude': '30.27316491', 'longitude': '-97....",2856,9,10,NaN,C,2017-05-26T00:00:00.000
499999,20171400410,CRIMINAL MISCHIEF,1400,N,2017-05-20T06:06:00.000,2017-05-20T00:00:00.000,606,2017-05-21T03:51:00.000,2017-05-21T00:00:00.000,351,...,3114501,30.26845394,-97.74220053,"{'latitude': '30.26845394', 'longitude': '-97....",2856,9,10,NaN,N,2017-05-23T00:00:00.000

In [ ]:
secret_token = T5qWzKhmDDlLPVGcUe7MY92WzOjPQQ2wNqJs
app_token = YXeQXvIRmcbNNLpE6mzfIWOFT

In [26]:
get_crime_data(use_cache=False)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

Acquiring data from api

,incident_report_number,crime_type,ucr_code,family_violence,occ_date_time,occ_date,occ_time,rep_date_time,rep_date,rep_time,...,y_coordinate,latitude,longitude,location,:@computed_region_a3it_2a2z,:@computed_region_8spj_utxs,:@computed_region_q9nd_rr82,:@computed_region_qwte_z96m,clearance_status,clearance_date
0,20221411560,AGG ASSAULT,402,N,2022-05-21T23:28:00.000,2022-05-21T00:00:00.000,2328,2022-05-21T23:28:00.000,2022-05-21T00:00:00.000,2328,...,3130738,30.27867944,-97.69047281,"{'latitude': '30.27867944', 'longitude': '-97....",2864,1,8,NaN,NaN,NaN
1,20221411686,FAMILY DISTURBANCE,3400,N,2022-05-21T23:25:00.000,2022-05-21T00:00:00.000,2325,2022-05-21T23:25:00.000,2022-05-21T00:00:00.000,2325,...,3135376,30.37919393,-97.67300529,"{'latitude': '30.37919393', 'longitude': '-97....",3642,1,8,NaN,NaN,NaN
2,20221411618,DATING DISTURBANCE,2400,N,2022-05-21T23:17:00.000,2022-05-21T00:00:00.000,2317,2022-05-21T23:17:00.000,2022-05-21T00:00:00.000,2317,...,3107646,30.26438022,-97.76402921,"{'latitude': '30.26438022', 'longitude': '-97....",2859,5,1,1426,NaN,NaN
3,20221411720,PUBLIC INTOXICATION,2300,N,2022-05-21T23:07:00.000,2022-05-21T00:00:00.000,2307,2022-05-21T23:07:00.000,2022-05-21T00:00:00.000,2307,...,3112676,30.27458791,-97.74781883,"{'latitude': '30.27458791', 'longitude': '-97....",2856,9,10,NaN,C,2022-05-22T00:00:00.000
4,20221410653,CIVIL DISTURBANCE/DEMO,3402,N,2022-05-21T23:04:00.000,2022-05-21T00:00:00.000,2304,2022-05-21T23:04:00.000,2022-05-21T00:00:00.000,2304,...,3120273,30.23468195,-97.72482422,"{'latitude': '30.23468195', 'longitude': '-97....",3256,3,3,102,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,20178001863,THEFT OF BICYCLE,609,N,2017-05-20T06:30:00.000,2017-05-20T00:00:00.000,630,2017-05-25T11:03:00.000,2017-05-25T00:00:00.000,1103,...,3114965,30.28064558,-97.74040289,"{'latitude': '30.28064558', 'longitude': '-97....",2856,9,10,NaN,N,2017-05-29T00:00:00.000
499996,20171400429,DISTURBANCE - OTHER,3401,N,2017-05-20T06:27:00.000,2017-05-20T00:00:00.000,627,2017-05-20T06:27:00.000,2017-05-20T00:00:00.000,627,...,3102180,30.22671213,-97.78234287,"{'latitude': '30.22671213', 'longitude': '-97....",3259,5,1,2244,NaN,NaN
499997,20171400425,AGG ROBBERY/DEADLY WEAPON,300,N,2017-05-20T06:21:00.000,2017-05-20T00:00:00.000,621,2017-05-20T06:21:00.000,2017-05-20T00:00:00.000,621,...,3091234,30.20834235,-97.81748876,"{'latitude': '30.20834235', 'longitude': '-97....",3259,5,1,3447,C,2019-03-22T00:00:00.000
499998,20171400320,PUBLIC INTOXICATION,2300,N,2017-05-20T06:18:00.000,2017-05-20T00:00:00.000,618,2017-05-20T06:18:00.000,2017-05-20T00:00:00.000,618,...,3113092,30.27316491,-97.74653877,"{'latitude': '30.27316491', 'longitude': '-97....",2856,9,10,NaN,C,2017-05-26T00:00:00.000
499999,20171400410,CRIMINAL MISCHIEF,1400,N,2017-05-20T06:06:00.000,2017-05-20T00:00:00.000,606,2017-05-21T03:51:00.000,2017-05-21T00:00:00.000,351,...,3114501,30.26845394,-97.74220053,"{'latitude': '30.26845394', 'longitude': '-97....",2856,9,10,NaN,N,2017-05-23T00:00:00.000